<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Automated Irrigation</title>
</head>
<body>
   <h1>Welcome to Buttons</h1>
{% if pin4 %}
<p> pin4=true </p>
{% else %}
<p> pin4=false </p>
{% endif %}
{% if pin5 %}
<p> pin5=true </p>
{% else %}
<p> pin5=false </p>
{% endif %}
<form>
	{% if pin4 %}
    <button type="submit" class="button" name="pin4" value="off" formaction="/toggle_pin_4" method="post"><br>Pin 4</button>
    {% else %}
    <button type="submit" class="button2" name="pin4" value="on" formaction="/toggle_pin_4" method="post"><br>Pin 4</button>
	{% endif %}
  	{% if pin5 %}
    <button type="submit" class="button" name="pin5" value="off" formaction="/toggle_pin_5" method="post"><br>Pin 5</button>
    {% else %}
    <button type="submit" class="button2" name="pin5" value="on" formaction="/toggle_pin_5" method="post"><br>Pin 5</button>
	{% endif %}
</form>
<p>
#{% for r in response %}
<p>{{ response.text }}</p>
#{% endfor %}
</p>
</body>
</html>
